.auth {
 margin: 50px;
}

.input-field {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 200px;
}

.input-field-header {
 margin-bottom: 25px;
 font-family: "Rubik";
}

.auth-input {
 font-size: 30px;
 margin-bottom: 25px;
 font-family: 'Quicksand', sans-serif;
 padding-left: 10px;
 border: 1px solid #b9b7b7;
}

.auth-btn {
 margin: 0px 20px 0px 0px;
 color: #000;
 font-family: "Raleway";
}

.auth-btn:hover {
 color: #fff;
}

.auth-link {
 text-decoration: none;
 font-family: "Fira Sans";
 font-weight: bold;
 font-size: 18px;
}

@media screen and (max-width: 425px) {
 
 .input-field {
  margin-top: 130px;
 }

 .auth-input {
  width: 85%;
 }

 .auth-btn {
  margin-right: 10px;
 }

}