.code-page-container,
.codes-page-container {
 font-family: "Raleway", sans-serif;
}

.saved-qr-code-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 120px;
}

.saved-qr-code-header {
 font-size: 25px;
 margin-bottom: 50px;
 text-align: center;
 word-break: break-all;
}

.email-code-header {
 font-size: 25px;
 margin-bottom: 25px;
 text-align: center;
 word-break: break-all;
}

.email-subj-text {
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: 25px;
 margin-bottom: 25px;
 text-align: center;
 word-break: break-all;
}

.saved-url-code-header {
 margin-bottom: 50px;
 text-align: center;
}

.saved-url-text {
 font-size: 25px;
 word-break: break-all;
}

.no-codes-text {
 text-align: center;
 margin-top: 250px;
 font-size: 40px;
}

.all-codes-container {
 display: flex;
 flex-direction: column;
 margin-top: 20px;
}

.all-codes-header {
 font-size: 35px;
 text-align: center;
}

.codes-lists-container {
 display: flex;
 flex-wrap: wrap;
 margin-top: 20px;
 gap: 10.9px;
}

.codes-container {
 display: flex;
 flex-direction: column;
}

.codes-header {
 font-size: 25px;
}

.codes-container > ul > li {
 list-style: none;
 text-decoration: none;
 margin-bottom: 10px;
 margin-left: -30px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.codes-container > ul > li > div {
 cursor: pointer;
}

.code-link {
 text-decoration: none;
 word-break: break-all;
}

@media screen and (max-width: 768px) {
 .saved-qr-code-container {
  margin-top: 100px;
 }
}

@media screen and (max-width: 425px) {
 .codes-lists-container {
  flex-direction: column;
 }

 .codes-header {
  text-align: center;
 }

 .codes-container > ul > li {
  text-align: center;
 }

 .no-codes-text {
  margin-top: 200px;
  font-size: 25px;
 }
}

@media screen and (max-width: 375px) {
 .saved-qr-code-header,
 .email-code-header,
 .email-subj-text,
 .saved-url-text {
  font-size: 20px;
 }
}