.home {
 display: flex;
 flex-direction: column;
 font-family: "Raleway", sans-serif;
}

.icons-container {
 display: flex;
 justify-content: center;
 gap: 35px;
 margin-top: 20px;
 border-bottom: 1px solid whitesmoke;
 padding-bottom: 10px;
}

.icon-container {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.icon {
 cursor: pointer;
}

.icon-title {
 font-size: 15px;
 text-decoration: none;
}

.qr-container {
 display: flex;
 justify-content: center;
 align-items: flex-start;
}

.form-container {
 display: flex;
 flex-direction: column;
}

.qr-code-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 65px;
 gap: 30px;
 position: relative;
}

.save-code-btn {
 font-weight: bold;
 width: 200px;
}

.contact-form,
.date-form {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.contact-form {
 margin-top: 20px;
 padding-right: 100px;
}

.contact-form-header,
.date-form-header {
 margin-bottom: 25px;
}

.contact-inputs-container {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 gap: 15px;
}

.contact-inputs-row {
 display: flex;
 gap: 20px;
}

.date-form {
 margin-top: 20px;
 margin-left: 110px;
 padding-right: 250px;
}

.date-form-input {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 20px;
}

/* .no-form {
 text-align: center;
 margin-top: 5px;
 font-family: "Open Sans";
 font-size: 40px;
}

input:focus,
textarea:focus {
 -webkit-box-shadow: none !important;
 -moz-box-shadow: none !important;
 box-shadow: none !important;
}

.input-label {
 font-family: 'Source Sans Pro', sans-serif;
 font-weight: 500;
 font-size: 18px;
} */

/* .qr-code-container {
 margin-right: 150px;
 margin-top: -50px;
 border: 1px solid black;
} */

/* .qr-code-container {
 margin-bottom: 25px;
} */

/* .contact-code-container {
 margin-bottom: 45px;
 margin-right: 300px;
 margin-top: -310px;
}

.date-code-container {
 margin-bottom: 45px;
 margin-right: 300px;
 margin-top: -310px;
}

.email-code-container {
 margin-bottom: 5px;
 margin-right: 300px;
 margin-top: -350px;
}

.img-code-container {
 margin-bottom: 10px;
 margin-right: 300px;
 margin-top: -330px;
}

.search-code-container {
 margin-bottom: 70px;
 margin-right: 350px;
 margin-top: -300px;
}

.url-code-container {
 margin-bottom: 60px;
 margin-right: 320px;
 margin-top: -300px;
} */

/* .qr-code-btn {
 font-weight: bold;
 margin-left: 46%;
 margin-top: 50px;
 margin-bottom: -55px;
} */

/* .footer {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 margin-top: 75px;
 gap: 500px;
 border-top: 1px solid whitesmoke;
 padding-top: 10px;
}

.footer > p {
 font-family: "Open Sans";
 font-size: 25px;
}

.footer > button {
 font-weight: bold;
} */

/* .codes-link-btn {
 margin-left: 5px;
}

.sign-out-btn {
 margin-right: 5px;
} */

@media screen and (max-width: 1024px) {
 .qr-container {
  flex-direction: column;
  align-items: center;
  gap: 40px;
 }

 .qr-code-container {
  margin-left: 0%;
  margin-top: 0px;
 }

 .contact-form,
 .date-form {
  padding-right: 0px;
 }

 .date-form {
  margin-left: 0px;
 }
}

@media screen and (max-width: 768px) {
 .contact-form {
  margin-right: 0px;
  align-items: center;
 }
 
 .contact-inputs-container {
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
 }

 .contact-inputs-row {
  flex-direction: column;
 }
 
 .contact-form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
}

@media screen and (max-width: 450px) {
 .icons-container {
  gap: 15px;
 }

 .icon-title {
  font-size: 12px;
 }

 .date-form-input > input,
 .date-form-input > textarea {
  width: 75%;
 }
}