.url-input-form {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: -360px 400px 0px 400px;
 width: 700px;
 box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
 padding-top: 10px;
 padding-bottom: 40px;
 background-color: rgb(255, 255, 254);
}

.url-input-header {
 margin-bottom: 20px;
 margin-right: 60px;
 font-family: "Lato", sans-serif;
 font-weight: 500;
 text-decoration: underline;
 font-size: 25px;
}

.url-input-container {
 display: flex;
}

.url-input {
 width: 500px;
}